<!DOCTYPE html>
<html lang="en">
<head>
   {{template "general/header"}}
<script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="">
    <!-- TODO: answer here -->
    <!-- <h3>Add Category</h3> -->
    <div class="flex items-center justify-center min-h-screen bg-gradient-to-tr from-blue-200 via-indigo-200 to-pink-200">
        <div class="px-16 py-12 mt-8 text-left bg-white shadow-lg rounded-lg">
            <div class="flex flex-wrap flex-row gap-10">
                <a href="/dashboard">
                    <!-- <button class="bg-white rounded-lg mb-3">Back to Dashboard</button> -->
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
                          </svg>
                        
                    </button>
                 </a>
                <h3 class="text-2xl font-bold text-center">Add Category</h3>
            </div>

            <form method="POST" action="/category/create">
                <div class="mt-4 ">
                    <div>
                        <label class="block text-gray-800" for="type">Title<label>
                        <input type="text" placeholder="Title" class="w-full px-4 py-2 mt-2 border-2 rounded-md focus:outline-none focus:ring-2 focus:ring-cyan-500" name="type" required="">
                    </label></label></div>
                    <div class="flex items-baseline justify-between">
                        <button type="submit" class="px-6 py-2 mt-4 text-white rounded-lg bg-cyan-500 hover:bg-cyan-700">Add Category</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>